<header class="topbar-nav">
    <nav class="navbar navbar-expand fixed-top bg-dark">
        <ul class="navbar-nav mr-auto align-items-center"></ul>

        <ul class="navbar-nav align-items-center right-nav-link gradient-royal" style="border-radius:25px; box-shadow:1px 2px 4px white;">

            @if (Session["Admin"] != null)
            {
                <li>
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" href="/Question/Index">
                        <i class="icon-home"></i>
                    </a>
                </li>

                <li>
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" href="/Person/Index">
                        <i class="icon-people"></i>
                    </a>
                </li>
            }


            <li>
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" href="/Answer/Index">
                    <i class="icon-folder"></i>
                </a>
            </li>

            <li>
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" href="/Answer/Create">
                    <i class="icon-pencil"></i>
                </a>
            </li>
            <li>
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" href="/Login/LogOut">
                    <i class="icon-power"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>
